<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>express movie</title>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="central">
    <% include ./partials/header.ejs %>
    <h1>exress movie : le site des cynophiles</h1>
    <div>Etes vous plutot film ou serie ?</div>
</div>
    <% include ./partials/footer.ejs %>
</body>
</html>